/* .navlinks{
    background-color: #8A9A5B;
    color: #e8dfe0;
    display: flex;
    margin-left: 0rem;
    border: none;
    height: 6rem;
    font-size: 40px;
    margin-bottom: 10rem;
    position: relative;
   display: inline-block;
   margin-top: 0rem;
}

body {
    background-color: #8A9A5B;
}

#logo {
    margin-right: 0rem;
    size-adjust: 120px;
    height: 10rem;
    float:left;
    margin-bottom: 50rem;
    
}

.hero {
    
    margin-top: 1rem;
   margin-left: 0rem;
   text-align: center;
   color: #e8dfe0;
   font-size: 30px;
   align-items: center;
   display: block;


}

#Account {
    margin-top: 1rem;
    margin-bottom: 0;
    float: right;
    text-align: center;
}

.space_header{
    display: block;
}

#login_p{
    text-align: center;
} */
.search-button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.bottom-info {
    bottom: 0;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px; 
    background-color: #333;
    color: #fff;
    max-height: 100px;
}

.navlinks {
    margin-right: 20px;
    max-height: 100px; 
}

.group {
    display: flex;
    align-items: center;
}

.input {
    font-family: "Montserrat", sans-serif;
    height: 45px;
    width: 300px; 
    padding-left: 1rem;
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
    border: 0;
    border-radius: 12px;
    background-color: #16171d;
    outline: none;
    color: #bdbecb;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
}

.search-icon {
    fill: #bdbecb;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem; 
}

.dropdown-container {
    margin-right: 20px; 
}





  