.navlinks{
    background-color: #8A9A5B;
    color: #e8dfe0;
    display: flex;
    margin-left: 0rem;
    border: none;
    height: 6rem;
    font-size: 40px;
    /* align-content: flex-start; */
    margin-bottom: 10rem;
    position: relative;
   display: inline-block;
   margin-top: 0rem;
}

body {
    background-color: #8A9A5B;
}

#logo {
    margin-right: 0rem;
    size-adjust: 120px;
    height: 10rem;
    float:left;
    margin-bottom: 50rem;
    
}

.hero {
    
    margin-top: 1rem;
   margin-left: 0rem;
   text-align: center;
   color: #e8dfe0;
   font-size: 30px;
   align-items: center;
   display: block;


}
.search_bar{
    display: block;
    padding-top: 4rem;
    font-size: 40px;
    margin-left: 10rem;
    
    text-align: center;
}

#Account {
    margin-top: 1rem;
    margin-bottom: 0;
    float: right;
    text-align: center;
}

.space_header{
    display: block;
}

#login_p{
    text-align: center;
}

.sbut{
    padding: 20px 35px;
    border-radius: 10px;
   font-size: 15px;
    display: inline-block;
}

.search{
    padding: 20px 35px;
    margin-bottom: 1rem;
    border-radius: 20px;
    font-size: 18px;
}