<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="icon"  type="image/x-icon" href="/static/logo.svg">
    <link rel="stylesheet" href="/static/home.css" />
</head>
    <body>
    <img class="navlinks" src="/static/logo.svg" id="logo">
    <p class="navlinks" id="Account">My account</p>
    <!-- <h1 class="navlinks">Essentials</h1> -->

    <br>
    <br>
   
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p class="hero">Login to our page</p>
    <p class="hero"><a href="/login">Log in</a> here or</p>
    <p class="hero">Create an Account and <a href="/register">register here</a></p>
    </body>
</html>
