<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <link rel="icon" type="image/x-icon" href="/static/logo.svg" />
    <link rel="stylesheet" href="/static/home.css" />
    <link rel="stylesheet" type="text/css" href="/static/homeProfile.css" /> 
  </head>
  <body>
    
    <div class="top-bar">

        <a href="/redirect">
            <img class="navlinks" src="/static/logo.svg" id="logo" style="max-width: 50%;" alt="Main Page">
          </a>
      
      <form action="/search_product" method="post" >
          <div class="group">
            <button type="submit" class="search-button">
              <svg viewBox="0 0 24 24" aria-hidden="true" class="search-icon">
                  <g>
                      <path
                          d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
                      ></path>
                  </g>
              </svg>
          </button>
              <input 
                  id="product"
                  class="input"
                  type="product"
                  placeholder="Search a product..."
                  name="product"
              />
          </div>
      </form>
      {% if loggedIn %}
      <div style="text-align: right" class="dropdown-container">
          <div class="dropdown">
              <button onclick="toggleDropdown()" class="dropbtn">{{username}}</button>
              <div id="dropdownContent" class="dropdown-content left">
                  <a href="/myaccount">Profile</a>
                  <a href="/logout_action">Logout</a>
              </div>
          </div>
      </div>
      {% else %}
      <p class="hero">
          <a href="/login">Log in</a> or <a href="/register">Register</a>
      </p>
      {% endif %}
      
  </div>
  </div>

  <div class="heading">Featured products</div>
        <div class="container">
            <div class="product1">
                <a href='/product_details?product_id={{ 7613035648463 }}'>
                <img src='https://images.openfoodfacts.org/images/products/761/303/564/8463/front_fr.106.400.jpg'
                    alt="product1">
                    </a>
                <div class="desc">
                    <p style="margin-top: 10px;">{{product1_name}}</p>
                    <div class="horz"></div>
                </div>
            </div>
            <div class="product2">
                <a href='/product_details?product_id={{ 8722700125174 }}'>
                <img src='https://images.openfoodfacts.org/images/products/872/270/012/5174/front_fr.191.400.jpg'
                    alt="product2">
                    </a>
                <div class="desc">
                    <p style="margin-top: 10px;">{{product2_name}}</p>
                    <div class="horz"></div>
                </div>
            </div>
            <div class="product3">
                <a href='/product_details?product_id={{ 8076809513753 }}'>
                <img src='https://images.openfoodfacts.org/images/products/807/680/951/3753/front_en.245.400.jpg'
                    alt="product3">
                    </a>
                <div class="desc">
                    <p style="margin-top: 10px;">{{product3_name}}</p>
                    <div class="horz"></div>
                </div>
            </div>
        </div>

   <div class="bottom-info">
        <h2>Additional Information</h2>
        <p>This is some additional information about your website.</p>
    </div>
  
  </body>
</html>
