<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/login.css" />
    <title>Log In</title>
    <a href="/redirect" class="home-button">Home</a>
  </head>
  <body>
    <img class="navlinks" src="/static/logo.svg" id="logo" />

   
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
    <img class="logo" src="/static/logo.svg" alt="Company Logo" />
    <form action="/login_action" method="post">
      <h1>Log In</h1>
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button type="submit">Log In</button>
    </form>
  </body>
</html>
