<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/myAccount.css">
    <link rel="icon" type="image/x-icon" href="/static/logo.svg" />
    <link rel="stylesheet" href="/static/home.css" />
    <link rel="stylesheet" type="text/css" href="/static/homeProfile.css" />
    <title>Edit Profile</title>
  </head>
  <body>
    <img class="navlinks" src="/static/logo.svg" id="logo" />

    <div style="text-align: right" class="dropdown-container">
        <div class="dropdown">
          <button onclick="toggleDropdown()" class="dropbtn">{{username}}</button>
          <div id="dropdownContent" class="dropdown-content left">
            <a href="/myaccount">Profile</a>
            <a href="/logout_action">Logout</a>
          </div>
        </div>
      </div>
  
    <a href="/redirect" class="home-button">Home</a>
    <div class="container">
      <div class="profile-header">
        <img src="https://via.placeholder.com/150" alt="Profile Picture" />
        <h1>Edit Profile</h1>
      </div>
      <form action="/change_info_action" method="post">

        <label for="newFirstName">First Name:</label>
        <input
          type="text"
          id="newFirstName"
          name="newFirstName"
          placeholder= "{{ firstName }}"
          value="{{ firstName }}"
        />

        <label for="newLastName">Last Name:</label>
        <input
          type="text"
          id="newLastName"
          name="newLastName"
          placeholder= "{{ lastName }}"
          value="{{ lastName }}"
        />

        <label for="newUsername">Username:</label>
        <input
          type="text"
          id="newUsername"
          name="newUsername"
          placeholder= "{{ username }}"
          value="{{ username }}"
        />

        <label for="newAllergens">Allergens:</label>
        <textarea
          id="newAllergens"
          name="newAllergens"
          placeholder= "{{ allergens }}"
          value="{{ allergens }}"
        ></textarea>

        <label for="newDietary_preferences">Dietary preferences:</label>
        <textarea
          id="newDietary_preferences"
          name="newDietary_preferences"
          placeholder= "{{ dietary_preferences }}"
          value="{{ dietary_preferences }}"
        ></textarea>

        <label for="newAvatar">Avatar URL:</label>
        <input
          type="text"
          id="newAvatar"
          name="newAvatar"
          placeholder= "{{ avatar }}"
          value="{{ avatar }}"
        />

        <input href="/myaccount"; type="submit" value="Save Changes" />
      </form>
    </div>
  </body>
</html>
