<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/myAccount.css">
    <link rel="icon" type="image/x-icon" href="/static/logo.svg" />
    <link rel="stylesheet" href="/static/home.css" />
    <link rel="stylesheet" type="text/css" href="/static/homeProfile.css" />
    <title>Edit Profile</title>
  </head>
  <body>
    <div class="top-bar">
      <a href="/redirect">
        <img class="navlinks" src="/static/logo.svg" id="logo" style="max-width: 50%;" alt="Main Page">
      </a>

    <div style="text-align: right" class="dropdown-container">
        <div class="dropdown">
          <button onclick="toggleDropdown()" class="dropbtn">{{username}}</button>
          <div id="dropdownContent" class="dropdown-content left">
            <a href="/myaccount">Profile</a>
            <a href="/logout_action">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <div class="center">
    <form class="form">
      <p class="title">My account </p>
      <p class="message">Change your profile</p>
          <div class="flex">
          <label>
              <input class="input" type="text"
              id="newFirstName"
              name="newFirstName"
              value="{{ firstName }}">
              <span>Firstname</span>
          </label>
  
          <label>
              <input class="input" type="text"
              id="newLastName"
              name="newLastName"
              value="{{ lastName }}">
              <span>Lastname</span>
          </label>
      </div>  
              
      <label>
          <input class="input" type="text"
          id="newUsername"
          name="newUsername"
          value="{{ username }}">
          <span>Username</span>
      </label> 
          
      <label>
          <input class="input" type="text"
          id="newAllergens"
          name="newAllergens"
          value="{{ allergens }}">
          <span>Allergens</span>
      </label>
      <label>
          <input class="input" type="text"
          id="newDietary_preferences"
          name="newDietary_preferences"
          value="{{ dietary_preferences }}">
          <span>Dietary preferences</span>
      </label>
      <button href="/myaccount" class="submit">Submit</button>
  </form>
</div>

    <div class="bottom-info">
      <h2>Additional Information</h2>
      <p>This is some additional information about your website.</p>
  </div>
  </body>
</html>
