<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/" />
    <link rel="icon" type="image/x-icon" href="/static/logo.svg" />
    <link rel="stylesheet" href="/static/home.css" />
    <link rel="stylesheet" type="text/css" href="/static/homeProfile.css" />
    <title>Redirecting...</title>
  </head>
  <!-- <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #e8dfe0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Ensure the page covers the entire viewport height */
      margin: 0;
      padding: 0;
    }
    .redirect-text {
        color:#8D9B6A;
      text-align: center;
      font-size: 48px;
    }
  </style>
    <div class="redirect-text">
        <p>You will be redirected to the main page shortly...</p>
    </div> -->
  </body>
  <img class="navlinks" src="/static/logo.svg" id="logo" />

   
</html>
