<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/register.css" />
    <title>Register</title>
  </head>
  <body>
    <img class="logo" src="/static/logo.svg" alt="Company Logo" />
    <form action="/register_action" method="post">
      <h1>Register</h1>
      <a href="/redirect" class="home-button">Home</a>
      <div>
        <label for="firstName">First Name:</label>
        <input type="firstName" id="firstName" name="firstName" required />
      </div>
      <div>
        <label for="lastName">Last Name:</label>
        <input type="lastName" id="lastName" name="lastName" required />
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </div>
      <div>
        <label for="dietary_preferences">Dietary Preferences:</label>
        <input
          type="text"
          id="dietary_preferences"
          name="dietary_preferences"
          required
        />
      </div>
      <div>
        <label for="allergens">Allergens:</label>
        <input type="text" id="allergens" name="allergens" required />
      </div>
      <div>
        <label for="avatar">Avatar(url):</label>
        <input type="text" id="avatar" name="avatar" required />
      </div>
      <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Log In here</a></p>
  </body>
</html>
