<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/logo.svg" />
    <title>Search </title>
</head>
<body>
    <h1>L</h1>
    <p>aaaaaaaaaaaaa</p>
    <div class="product-images">
        {% for product in search_results %}
            <a href='/product_details?product_id={{ product.id }}'>
            <img src="{{ product.image_url }}" alt="{{ product.product_name }}">
        </a>
        {% endfor %}
    </div>
</body>
</html>
