<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/logo.svg" />
    <link rel="stylesheet" href="/static/home.css"/>
    <link rel="stylesheet" type="text/css"  href="/static/homeProfile.css"/>
    <link rel="stylesheet" href="/static/home.css" />
    <link rel="stylesheet" type="text/css" href="/static/homeProfile.css" />
    <title>Search </title>
</head>
<body>
  <div class="top-bar">
    <img class="navlinks" src="/static/logo.svg" id="logo" />

    <div style="text-align: right" class="dropdown-container">
        <div class="dropdown">
          <button onclick="toggleDropdown()" class="dropbtn">{{username}}</button>
          <div id="dropdownContent" class="dropdown-content left">
            <a href="/myaccount">Profile</a>
            <a href="/logout_action">Logout</a>
          </div>
        </div>
      </div>
  
    </div>
    <h1>L</h1>
    <p>aaaaaaaaaaaaa</p>
    <div class="product-images">
        {% for product in search_results %}
            <a href='/product_details?product_id={{ product.id }}'>
            <img src="{{ product.image_url }}" alt="{{ product.product_name }}">
        </a>
        {% endfor %}
    </div>
    <div class="bottom-info">
      <h2>Additional Information</h2>
      <p>This is some additional information about your website.</p>
  </div>
</body>
</html>
